.feature {
    position: static;
    width: 961px;
    height: 702px;
    left: 961px;
    top: 1538px;
}

.headlineText {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* or 122% */

    text-align: center;

    color: #333333;
}

.generalText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    color: #333333;
}